body{
	height: 100%;
	width:100%;
	margin: 0px;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 65px;
}

footer{
	background-color: #2d3436;
	width: 100%;
	height: 100px;
}

footer p{
	padding: 5px;
	text-decoration: none;	
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}


.error_input{
    border: 2px solid #d63031;
}

.tipo_electrico{
    color: #f1c40f;
}

.esconder{
    display: none;
  }

.borde{
	background-color: #2d3436;
	width: 100%;
	height: 70px;
}
#top{
	background-color: #fff;
	width: 100%;
	height: 110px;
}
#top h1{
	font-family: 'Raleway', sans-serif;
	color: #ffa502;
	font-size: 40px;
	font-weight: bold;
}
.menu{
	background-color: #ffa502; 
	padding: 15px;
}

.menu nav a{

	margin-left: 130px;
	padding: 5px;
	text-decoration: none;	
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

#imagen img{
	height: 550px;
	width: 100%;
}

#fatherBox{
	width: 90%;
	height:600px;
	margin: auto;
    border: 1px solid #74AD21;

}

#fatherBox p{
	background-color: #ffa502; 
	padding: 15px;
}


#fatherBox div{
	width: 310px;
	height:300px;
    border: 1px solid #73AD21;
    float:left;
    margin-left: 65px;

}


  
#pokebanner{
	width: 1010px;
    height: 400px;
    margin-top: 5%;
    margin-left: 19%;

}


#btnmain{
	
    margin-left: 15%;

}